body, html{
	margin: 2% 2% auto;
}

.todoWriteBtn{
	width : 200px;
	height : 80px;
	text-align: center;
	background-color: #0080ff;
	font-weight: bold;
	font-size: medium;
	cursor: pointer;
}

#nav_container{
	display: flex;
	margin-bottom: 5%;
}

.header{
	margin-left: auto;
}

.content_container{
	display: flex;
	flex-direction : column;
	width : 30%;
	border: 1px;
}

#content_nav{
	display : flex;
	justify-content : space-around;
	border: 1px solid gray;
	margin-bottom: 2.5%;
}

#content_nav div{
	background-color: #0080ff;
	border: 1px solid gray;
	width : 200px;
	height : 80px;
	text-align: center;
	line-height : 80px;
	background-color: #0080ff;
	font-weight: bold;
	font-size: medium;
}